header.flex {
  display: flex;
  justify-content: center; 
  padding: 0 2rem;
  margin-top: 1.2rem;
  align-items: center;
}

header .menu {
  display: none; 
  font-size: 3rem; 
  cursor: pointer;
}

header .nav {
  display: flex;
  margin-left: auto; 
}

header ul.flex {
  display: flex;
  gap: 65px;
}

header ul li a {
  opacity: 0.9;
  font-size: 1rem; 
  font-weight: 500;
  transition: color 0.3s ease, opacity 0.3s ease;
}

header button {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

body.dark {
  background-color: #121212; 
  color: #ffffff; 
}

body.dark header ul li a {
  color: #ffffff; 
}

body.light {
  background-color: #ffffff; 
  color: #000000; 
}

body.light header ul li a {
  color: #000000; 
}

@media (min-width: 769px) {
  header .menu {
    display: none; 
  }

  header .theme-toggle {
    display: flex;
    align-items: center;
    margin-left: auto; 
  }

  header .theme-toggle .icon-moon-o,
  header .theme-toggle .icon-sun {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  header .menu {
    display: flex; 
  }

  header .nav {
    display: none; 
  }

  header .theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
  }

  header .theme-toggle .icon-moon-o,
  header .theme-toggle .icon-sun {
    font-size: 2rem;
    margin-left: 10px;
  }
}

header .fixed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  position: absolute;
  top: 50px;
  left: 250px;
  background: rgba(37, 33, 33, 0.9);
  border-radius: 10px;
  padding: 1rem;
}

header .fixed ul.modal-list {
  padding: 0;
  list-style: none;
}

header .fixed ul.modal-list li {
  margin: 0.5rem 0;
}

header .icon-close {
  align-self: flex-end;
  font-size: 2rem;
  color: red;
  cursor: pointer;
  margin-bottom: 1rem;
}
